<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
    </head>
    <body>
        <h1>W1nd0w5</h1>
        <a href="/home.html">Homepage</a> | <a href="/about.html">About page</a> | Sign Up | <a href="/login/username.html">Log In</a> | <a href="/account.html">Account</a>
        <h2>Sign Up</h2>
        <form method="post">
            <input type="hidden" name="method" value="sign_up" />
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password"><br>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email"><br>
            <input type="submit" value="Sing Up"> or <a href="/login/username.html">Log In</a>
        </form>
    </body>
</html>
